@import "~bootstrap/scss/bootstrap.scss";

//Principal colors for the landing
.bg-first{
    background-color: #9EEA05 !important;
}
.bg-second{
    background-color: #D8D8D8 !important;
}
.color-first{
    color: #9EEA05 !important;
}
.color-second{
    color: #D8D8D8 !important;
}